{% extends 'template.html.twig' %}


{% block body %}

    <ul class="nav nav-pills flex-column flex-md-row mb-3">

        <li class="nav-item">
            <a class="nav-link active" href="{{ path('app_User') }}"><i class="bx bx-link-alt me-1"></i> Ajouter un
                utilisateur</a>
        </li>
    </ul>

    <div class="card">
        <h5 class="card-header">Table Basic</h5>
        <div class="table-responsive text-nowrap" style="overflow-x: inherit;!important;">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date Naissance</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for user in u %}
                    <tr>
                        <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>{{ user.id }}</strong></td>

                        <td>{{ user.email }} </td>
                        <td>{{ user.nom }} </td>
                        <td>{{ user.Prenom }} </td>
                        <td>{{ user.dateNaiss | date('d-m-Y') }} </td>
                        <td>
                            <a href="{{ path('app_admin_banuser',{'id':user.id}) }}">

                            {% if user.enabled %}
                                <span class="badge bg-label-success me-1">Active</span>
                            {% else %}
                                <span class="badge bg-label-secondary">Inactive</span>
                            {% endif %}
                            </a>
                        </td>
                        <td>
                            <div class="d-inline-block text-nowrap">
                                <button class="btn btn-sm btn-icon"><a href="{{ path('modifUser',{'id':user.id}) }}"><i
                                                class="bx bx-edit"></i></a></button>
                                <button class="btn btn-sm btn-icon delete-record"><a
                                            href="{{ path('supp_User',{'id':user.id}) }}"><i
                                                class="bx bx-trash"></i></a></button>

                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
